/* define */
$color: #333;
$color-sub: #35a;


/* reset */
body, h1, h2, h3, h4, h5, h6, ul, li {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}


/* global */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, appleLogo, sans-serif;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

a {
  text-decoration: none;
  color: $color-sub;

  &:hover {
    color: lighten($color-sub, 20%);
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}


/* layout */
body {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}

header {
  box-sizing: border-box;
  height: 120px;
  margin: 40px 0;
}

main {
  min-height: calc(100vh - 200px - 200px);
}

footer {
  box-sizing: border-box;
  margin: 80px 0 0;
  height: 120px;
}


/* parts */
.btn {
  font-size: 1em;
  color: $color;
  background-color: #fff;
  padding: .8em 1em;
  margin-left: 20px;
  border: 1px solid #888;
  border-radius: .2em;
  
  &:hover {
    color: $color-sub;
    border-color: $color-sub;
  }
}


/* misc */
header {
  a {
    color: inherit;
    &:hover {
      color: inherit;
      h1, h2  {
        filter: drop-shadow(0 0 8px rgba($color, .5));
      }
    }
  }
}

h1 {
  font-weight: 100;
  font-size: 250%;
}

h2 {
  font-weight: 100;
  font-family: serif;
  font-size: 80%;
}

h3 {
  font-weight: bold;
  font-size: 120%;
  margin-top: 2em;
  margin-bottom: 2em;
}

main {
  ul {
    padding-left: 40px;

    li {
      list-style: circle;
      margin-bottom: .8em;
    }
  }
  
  .contact {
    margin-top: 4em;
  }

  form {
    margin-top: 2em;
    margin-right: 1em;

    input, textarea {
      display: block;
      margin-top: .5em;
      margin-bottom: 2em;
      font-size: 80%;
      width: 100%;
      max-width: 640px;
      padding: .5em;
      border: 1px solid #888;
    }
  }
}

aside {
  text-align: center;
  li {
    display: inline-block;
    padding: 0 0.5em;
  }
  a:hover img {
    filter: drop-shadow(0 0 8px rgba($color-sub, .5));
  }
  img {
    width: 24px;
  }
}

footer {
  text-align: center;
}

.t404 {
  font-size: 1.2em;
  margin-bottom: 2em;
}
