---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Contact - monaural モノラル">
  <main class="contact">
    <h3 class="title">Contact / お問合せ</h3>
    <p>お気軽にお問合せください。通常3営業日以内に返信いたします。</p>

    <form
      name="contact"
      method="POST"
      action="/contact/thanks"
      data-netlify="true"
    >
      <input type="hidden" name="form-name" value="contact" />
      <p>
        <label>お名前 / Name <input type="text" name="name" required /></label>
      </p>
      <p>
        <label
          >メールアドレス / Email <input
            type="email"
            name="email"
            required
          /></label
        >
      </p>
      <p>
        <label
          >お問合せ内容 / Message <textarea name="message" rows="5" required
          ></textarea></label
        >
      </p>

      <script
        async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4270592963377573"
        crossorigin="anonymous"></script>
      <!-- monaural-contact -->
      <ins
        class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4270592963377573"
        data-ad-slot="3179816548"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>

      <p>
        <button type="submit" class="btn">送信 / Send</button>
      </p>
    </form>
  </main>
</Layout>

<style lang="scss">
  form {
    margin-top: 2em;
    margin-right: 1em;

    input,
    textarea {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 2em;
      font-size: 80%;
      width: 100%;
      max-width: 640px;
      padding: 0.5em;
      border: 1px solid #888;
    }
  }
</style>
