---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Contact - monaural モノラル">
  <main class="contact_thanks">
    <h3 class="title">Contact / お問合せ</h3>
    <p>お問合せありがとうございました。通常3営業日以内に返信いたします。</p>
    <p>
      <br />
      <a href="/">トップに戻る</a>
    </p>
  </main>
</Layout>

<style lang="scss">
  .contact_thanks {
  }
</style>
