---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 not found - monaural モノラル">
  <main>
    <h3>404 not found</h3>
    <p>back to <a href="/">Top Page</a></p>
  </main>
</Layout>
