---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - monaural モノラル">
  <h3>About</h3>
  <ul>
    <li>Hiroshi Matsuo / matsuoshi
      <ul>
        <li>from Kobe, Japan</li>
      </ul>
    </li>
    <li>Web Engineer, Agile Coach, Scrum Master
    <li>Certifications; <a href="https://www.scrumalliance.org/community/profile/hmatsuo">Certified Agile Leadership / Certified Scrum Master</a></li>
    </li>
  </ul>
  <h3>Tech outputs</h3>
  <ul>
    <li><a href="https://speakerdeck.com/matsuoshi">Speakerdeck</a></li>
    <li><a href="https://qiita.com/matsuoshi">Qiita</a></li>
    <li><a href="https://zenn.dev/matsuoshi">Zenn</a></li>
    <li><a href="https://holidays-jp.github.io/">日本の祝日 API (Holidays JP API)</a></li>
    <li><a href="https://github.com/matsuoshi">GitHub</a></li>
  </ul>
  <h3>Communities</h3>
  <ul>
    <li><a href="https://www.scrumosaka.org/">Scrum Fest Osaka 実行委員 (2019-)</a></li>
    <li><a href="https://scrumdo-kansai.connpass.com/">スクラム道関西 スタッフ</a></li>
    <li><a href="https://agileradio.github.io/">アジャイルラジオ (podcast)</a></li>
  </ul>
  <h3>Others</h3>
  <ul>
    <li><a href="https://www.mixcloud.com/matsuoshi/">mixcloud</a></li>
    <li><a href="https://www.discogs.com/ja/artist/816153-Hiroshi-Matsuo">discogs</a></li>
  </ul>
</Layout>

<style>
	.astro-a {
	}
</style>
