---
import Layout from '../layouts/Layout.astro';
---

<Layout title="monaural モノラル">
  <main class="home">
    <ul>
      <li style="margin-bottom: 3em"><a href="/about">about</a></li>
      <li><a href="https://matsuoshi.hatenablog.com/">はてなブログ</a></li>
      <li><a href="https://pause.monaural.net/">pause // music blog</a></li>
    </ul>

    <!-- <p>
      <a class="btn" href="/contact">concact / お問い合わせ</a>
    </p> -->
  </main>
</Layout>

<style>
  .home {
  }
</style>
