@import "global";

/* reset */
body, h1, h2, h3, h4, h5, h6, ul, li {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* global */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, appleLogo, sans-serif;
  font-weight: 300;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  color: $color;
}

a {
  text-decoration: none;
  color: $color-sub;

  &:hover {
    color: lighten($color-sub, 20%);
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}


/* layout */
body {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}

header {
  box-sizing: border-box;
  height: 120px;
  margin: 40px 0;
}

main {
  min-height: calc(100vh - 200px - 200px);
}

footer {
  box-sizing: border-box;
  margin: 80px 0 0;
  height: 120px;
}


/* parts */
.title {
  font-weight: bold;
  font-size: 120%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.btn {
  font-size: 1em;
  color: $color;
  background-color: #fff;
  padding: .8em 1em;
  margin-left: 20px;
  border: 1px solid #888;
  border-radius: .2em;
  transition: all linear .1s;

  &:hover {
    color: $color-sub;
    border-color: $color-sub;
    filter: drop-shadow(0 0 2px rgba($color-sub, .5));
  }
}
