---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{title}</title>
    <meta name="description" content="monaural - モノラル のウェブサイトです。">
    <meta property="og:image" content="https://monaural.net/img/ogp.png">
    <meta name="twitter:image" content="https://monaural.net/img/ogp.png">
    <link rel="shortcut icon" href="/img/logo.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://monaural.net/img/logo.png">
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style lang="scss" is:global>
  /* reset */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
  }

  /* global */
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, appleLogo, sans-serif;
    font-weight: 300;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    color: #333;
  }

  h3 {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;
    color: #35a;

    &:hover {
      color: lighten(#35a, 20%);
    }
  }

  button {
    &:hover {
      cursor: pointer;
    }
  }

  /* layout */
  body {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1em;
  }

  header {
    box-sizing: border-box;
    height: 120px;
    margin: 40px 0;
  }

  main {
    min-height: calc(100vh - 200px - 200px);
  }

  footer {
    box-sizing: border-box;
    margin: 80px 0 0;
    height: 120px;
  }

  /* parts */
  .title {
    font-weight: bold;
    font-size: 120%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .btn {
    font-size: 1em;
    color: #333;
    background-color: #fff;
    padding: 0.8em 1em;
    margin-left: 20px;
    border: 1px solid #888;
    border-radius: 0.2em;
    transition: all linear 0.1s;

    &:hover {
      color: #35a;
      border-color: #35a;
      filter: drop-shadow(0 0 2px rgba(#35a, 0.5));
    }
  }

  ul {
    padding-left: 40px;
    margin-bottom: 4em;

    li {
      list-style: circle;
      margin-bottom: 0.8em;

      ul {
        margin-top: 0.8em;
        margin-bottom: 0;
      }
    }
  }
</style>
